* {
  box-sizing: border-box;
}
#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: thin dashed black;
}
.head {
  margin-top: 0;
}
h1 {
  text-align: center;
  font-size: 85px;
  font-family: chiller;
  height: 100%;
}

span > img {
  width: 62px;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.nav > a {
  font-size: 25px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
}
.nav > a:visited {
  text-decoration: line-through;
  background-color: white;
  color: red;
}
.nav > a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.nav > a:active {
  text-decoration: line-through;
  color: green;
}
.active {
  background-color: white;
}
li {
  list-style: lower-greek;
  padding-bottom: 5px;
}
li > a {
  color: hotpink;
  text-decoration: none;
}
li > a:visited {
  color: rgb(55, 58, 221);
}
li > a:hover {
  color: white;
  background-color: black;
}
li > a:active {
  color: red;
}
.pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pics > img {
  margin: 5px;
}
p, h3, h2 {
  text-align: center;
}
.tophalf {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 300px;
}
.tophalf > img {
  height: 300px;
  width: 300px;
}
.footer {
  background-color: black;
  color: white;
  font-size: 18px;
}
.footer > a {
  padding: 20px;
  color: white;
  text-decoration: none;
}
.footer > a:visited {
  color: red;
}
.footer > p {
  color: white;
  padding-right: 10px;
}
.copyright {
  text-align: right;
  font-size: 14px;
}
.videos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
#wrapper {
  width: 90%;
}
h1 {
  font-size: 60px;
}


}
@media only screen and (max-width: 600px) {
  #wrapper {
    width: 100%;
  }
  h1 {
    font-size: 50px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main > img {
    padding: 10px;
  }

  .tophalf {
    display: flex;
    flex-direction: column;
  }
  .tophalf > img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav > a {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5px;
  }
  .nav {
    flex-direction: column;
    margin: 5px;
  }
  .videos{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

}
